.active {
  font-weight: bold !important;
  border-bottom: 1px solid black !important;
}
.nav_bg {
  background-color: #fff !important;
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.heading {
  color: red;
  font-size: 25px;
  font-weight: bold;
}
.nav-link {
  margin: 15px;
}
.contact_image {
  margin-left: 60px;
}
.background {
  height: 400px !important;
}
